@model IEnumerable<RentCar.Models.Car>

@{
    ViewBag.Title = "Index";
}

<h2>Cars</h2>

<p>
    @Html.ActionLink("New Car", "Create",null,new { @class = "btn btn-primary"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Brand.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Miles)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Brand.Name, "Details", new { id = item.Id})
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Miles)
        </td>
    </tr>
}

</table>
